.neutralitywtf-search {
	width: 80%;
	margin: 1em auto 0 auto;

	.neutralitywtf-loading & {
		pointer-events: none;

		&-info,
		&-input,
		&-examples,
		&-alert {
			opacity: 0.5;
		}
	}

	h1 {
		font-family: 'Bree Serif', serif;
		text-align: center;
		font-size: 1.7em;
	}

	&-info {
		line-height: 1.2;

		p:first-child {
			font-weight: bold;
		}
	}

	&-alert {
		display: none;
	}

	&-disclaimer {
		margin-top: 1em;
		border-top: 1px solid #ffc107;
		border-bottom: 1px solid #ffc107;
	}

	&-examples {
		padding-top: 1em;

		@media (max-width: @page-width-medium) {
			&-hideMobile {
				display: none;
			}
		}

		ul {
			list-style: none;
			padding-left: 0;

			li {
				text-align: center;
				padding: 1em 0 0 0;
				opacity: 0.6;
				@media (max-width: @page-width-medium) {
					font-size: 1.5em;
					border-radius: 10px;
					padding: 0.5em;
					margin-bottom: 1em;
					background-color: #E91E63;

				}
			}
		}
	}

	.neutralitywtf-loaded & {
		display: none;
	}
}
